html {
    background-color: #DADADA;
    font-family: "Helvetica";
}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 3%;
}

button {
    border: 0;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.rightColumn {
    width: 35%;
    line-height: 1.4285em;
    float: right;
    background-color: white;
    border-radius: 0.5rem;
}

.rightColumnLine {
    padding: 2%;
    border-top: 1px solid black;
}

.rightColumnElement {
    background-color: #E8E8E8;
    display: inline-block;
    box-sizing: border-box;
    padding: 3px;
    font-size: 0.8rem;
    margin: 3px;
    border-radius: 3px;
}

.rightColumnElementAmount {
    background-color: orange;
    color: white;
    border-radius: 500%;
    display: inline-block;
    text-align: center;
    min-width: 2em;
    min-height: 2em;
    text-decoration: inherit;
}

.leftColumn {
    width: 63%;
    line-height: 1.4285em;
    float: left;
    background-color: white;
    border-radius: 0.5rem;
}

.upperLeftLine {
    padding: 10px;
    width: auto;
    text-align: center;
}

.newItemInput {
    width: 85%;
    padding-right: 0px;
}

.addItemButton {
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.otherLeftLines {
    padding: 2%;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.itemName {
    width: 25%;
    padding: 0%;
    display: inline-block;
}

.hidden-input {
    width: 25%;
    display: none;
    text-align: left;
    padding: 0px;
}

.itemAmountChange {
    width: 35.5%;
    padding: 0%;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

.reduceItemAmountButton {
    background-color: red;
    font-size: 1.5rem;
    border-radius: 100%;
    color: white;
    width: 2rem;
    opacity: 0.5;
}

.itemAmountCounter {
    background-color: #E8E8E8;
    text-align: center;
    padding: 10px;
}

.increaseItemAmountButton {
    color: white;
    font-size: 1.5rem;
    background-color: green;
    border-radius: 100%;
    width: 2rem;

}

.itemFinal {
    width: 35.5%;
    padding: 0%;
    line-height: 100%;

    display: inline-block;
    text-align: right;
}

.boughtButton {
    vertical-align: middle;
    background-color: #E8E8E8;
    padding: 6px;
    border-radius: 3px;
}

.unbuy-button {
    vertical-align: middle;
    background-color: #E8E8E8;
    display: none;
    padding: 6px;
    border-radius: 3px;
}

.removeButton {
    background-color: darkred;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
}

.tooltip::after {
    background-color: darkviolet;
    color: transparent;
    border-radius: 2px;
    content: attr(data-tooltip);
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    margin-left: -55px;
    min-width: 100px;
    margin-top: -10px;
    padding: 3px;
    visibility: hidden;
    height: 0rem;
    transition: all 1s ease;
    position: absolute;
    opacity: 0;
}

.tooltip:hover::after {
    visibility: visible;
    margin-top: -25px;
    height: 1rem;
    color: white;
    opacity: 1;
}

.badge {
    width: 150px;
    height: 90px;
    background-color: darkviolet;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    position: fixed;
    bottom: -55px;
    left: 30px;
    transition: background-color 1.5s ease, bottom 1.5s ease;
}

.badge:hover {
    background-color: blue;
    bottom: 0;
}

@media print {

    .badge {
        bottom: 0px;
        background-color: white;
        color: black;
        border: 1px solid darkviolet;
        height: 60px;
        padding-top: 5px;
    }

    .badge::before {
        content: "";
    }

    .hide-for-print {
        display: none;
    }

}

@media (max-width: 600px) {

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .leftColumn {
        width: 100%;
        margin-bottom: 20px;
    }

    .rightColumn {
        width: 100%;
        margin-bottom: 20px;
    }
}

.hidden{
    display: none;
}